<!-- Main Page -->
<div id="homeScreen" class="container-fluid">
    <div class="row no-gutters text-center">
        <div class="col-12">
            <h1 class="display-1">Hello!</h1>
            <div class="col-12">
                <img src="../../../assets/img/theradicalcoder.jpg">
            </div>
            <h3>Nice to meet you</h3>
        </div>
        <!-- <div class="col-12">
            <div class="home-title">I solemnly swear <br> that I am up to no good</div>
        </div> -->
    </div>
</div>
<trc-navbar></trc-navbar>
<!-- Hello Message -->
<div id="helloSection" class="container-fluid pt4 pb5">
    <div class="col-12 text-center">
        <h1> About</h1>
    </div>
    <hr>
    <div class="row no-gutters hello-message align-items-center justify-content-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6">
                <p>
                    Hello, my name is Rishab. I am a Graduate Student at the University of Illinois at Chicago.
                    </p>
                    <p>
                    I am also a full stack engineer who loves to build web applications from scratch using AngularJS and React. 
                    I have always enjoyed learning new tools and software through open source projects or enterprise applications as part of my work experience.
                    </p>
                    <p>
                    Recently, I have been fascinated by the DevOps mindset and am actively learning about how I can best automate my daily development practises, so that I can quickly implement ideas. Some of the technologies I am currently focusing on include AWS, Docker and Ansible.
                    </p>
                    <p>
                    As a nerd, I love playing video games and watching anime. I also enjoy outdoor biking and trekking.
                    </p> 
            </div>
        </div>
        <div class="col-12">
            <a href="#">
                <!-- <button type="button" class="btn btn-lg btn-outline-secondary"> Know More</button> -->
            </a>
        </div>
    </div>
</div>

<!-- Skills -->
<!-- <div id="skillsSection" name="skillsSection" class="container-fluid">
    <div class="col-12 text-center">
        <h1> Web Development </h1>
    </div>
    <hr>
    <div class="container-fluid padding-bottom">
        <div class="row text-center text-white padding skill-icons">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/015-html-5.svg">
                <div class="skill-title">HTML 5</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/028-css-3.svg">
                <div class="skill-title">CSS 3</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/029-bootstrap.svg">
                <div class="skill-title">Bootstrap</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/030-javascript.svg">
                <div class="skill-title">JavaScript</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/031-nodejs.svg">
                <div class="skill-title">Node.js</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/032-python.svg">
                <div class="skill-title">Python</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/034-c++.svg">
                <div class="skill-title">C++</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/013-wordpress.svg">
                <div class="skill-title">WordPress</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/040-angularjs.svg">
                <div class="skill-title">AngularJS</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/041-react.svg">
                <div class="skill-title">React</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/042-mysql.svg">
                <div class="skill-title">MySQL</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/043-postgresql.svg">
                <div class="skill-title">PostgreSQL</div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <h1> Technical Insights</h1>
    </div>
    <hr>
    <div class="container-fluid padding-bottom">
        <div class="row text-center text-white padding skill-icons justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/038-docker.svg">
                <div class="skill-title">Docker</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img style="background: #fff; border-radius:30px; padding:5px;" src="assets/img/icons/037-aws.svg">
                <div class="skill-title">AWS</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/039-webrtc.svg">
                <div class="skill-title">WebRTC</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/044-ubuntu.svg">
                <div class="skill-title">Ubuntu</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/045-centos.svg">
                <div class="skill-title">CentOS</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/046-nagios.svg">
                <div class="skill-title">Nagios</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/047-ganglia.svg">
                <div class="skill-title">Ganglia</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/img/icons/050-git.svg">
                <div class="skill-title">Git</div>
            </div>
        </div>
    </div>
</div> -->

<!-- Projects -->
<div id="projectsSection" class="container-fluid">
    <!-- <div class="row text-center text-dark"> -->
    <div class="col-12 text-center">
        <h1>Work Projects</h1>
    </div>
    <hr>
    <!-- </div> -->
    <div class="container-fluid padding-top padding-bottom">
        <div class="row text-dark align-items-center justify-content-center">
            <div style="max-width: 360px;" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 padding-bottom grow"
                ng-repeat="project in projectsData | orderBy:id:reverse=true ">
                <div class="card">
                    <div class="col-12 padding-top padding-bottom">
                        <img class="card-img-top" ng-src="{{project.img_url}}">
                    </div>
                    <div class="card-body">
                        <h4 class="col-12 card-title"><strong>{{project.name}}</strong></h4>
                        <div class="col-12 padding-bottom">
                            <p class="card-text">{{project.description}}</p>
                        </div>
                        <a ng-hide="!project.content_url" class="btn btn-outline-dark btn-center"
                            href="{{project.content_url}}" target="_blank">Know More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 text-center mt5">
        <h1>Academic and Hobby Projects</h1>
    </div>
    <hr>
    <!-- </div> -->
    <div class="container-fluid padding-top padding-bottom">
        <div class="row text-dark align-items-center justify-content-center">
            <div style="max-width: 360px;" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 padding-bottom grow"
                ng-repeat="project in hobbyProjects | orderBy:id:reverse=true ">
                <div class="card">
                    <div class="col-12 padding-top padding-bottom">
                        <img class="card-img-top" ng-src="{{project.img_url}}">
                    </div>
                    <div class="card-body">
                        <h4 class="col-12 card-title"><strong>{{project.name}}</strong></h4>
                        <div class="col-12 padding-bottom">
                            <p class="card-text">{{project.description}}</p>
                        </div>
                        <a ng-hide="!project.content_url" class="btn btn-outline-dark btn-center"
                            href="{{project.content_url}}" target="_blank">Know More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carousel -->
<div id="designsSection" class="container-fluid">
    <div class="row text-center align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <strong>
                <h1 class="padding">Design & Illustrations</h1>
                <!-- <div class="f4 fw1"> (I like to do these in my free time)</div> -->
            </strong>
            <!-- <hr> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div id="designSlides" class="carousel slide" data-ride="carousel" data-interval="40000000"
                data-pause="hover">
                <ul class="carousel-indicators">
                    <li data-target="#designSlides" data-slide-to="0" class="active"></li>
                    <li data-target="#designSlides" data-slide-to="1"></li>
                    <li data-target="#designSlides" data-slide-to="2"></li>
                    <li data-target="#designSlides" data-slide-to="3"></li>
                    <!-- <li data-target="#designSlides" data-slide-to="4"></li> -->
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/designs/yoda_full.png">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/designs/punking_full.png">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/designs/youngtiger_full.png">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/designs/ieee_full.png">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <!-- <div class="carousel-item">
                                <img src="assets/img/designs/brainwaves_workshop.png">
                                <div class="carousel-caption">
                                </div>
                            </div> -->
                </div>
                <a class="carousel-control-prev" data-target="#designSlides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-target="#designSlides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- Comments Section -->
<div id="pageFooter">
    <div class="row text-center text-dark no-gutters">
        <div class="col-12">
            <div class="social-badge-container">
                <a href="https://www.linkedin.com/in/rishab-kumar-bakshi-93473ab8/" target="_blank"><img
                        src="assets/img/icons/007-linkedin.svg"></a>
                <!-- <img src="assets/img/icons/020-medium.svg"> -->
                <!-- <img src="assets/img/icons/005-twitter.svg"> -->
                <a href="https://github.com/rishabkbakshi" target="_blank"><img
                        src="assets/img/icons/035-github.svg"></a>
                <!-- <img src="assets/img/icons/036-discord.svg"> -->
                <a href="mailto:rishabkbakshi@gmail.com"><img
                    src="assets/img/icons/051-gmail.svg"></a>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid padding-top padding-bottom text-light">
        <div class="row justify-content-center no-gutters">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h3><strong>Please leave a comment! (*Placeholder*)</strong></h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email address" disabled>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" aria-label="With textarea" placeholder="Enter Comments here"
                            disabled></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" disabled>Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr class="border-light"> -->
    <div class="text-center">
        © 2019 Rishab Kumar Bakshi. All rights reserved.
    </div>
</div>
<!-- <div id="goToTop" ng-click="goToTop()"><i class="fas fa-arrow-up"></i></div> -->